.auth-form{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 40vh;
}

.auth-title {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translate(-50%);
    color: #1F2233;
    text-align: center;
    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
}

.auth-signupButton {
    display: block;
    height: 7vh;
    width: 60vw;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #1F2233;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.auth-span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    padding: 0.5rem;
}

.auth-signinButton {
    display: block;
    height: 7vh;
    width: 60vw;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.auth-alreadyHaveAnAccountLabel {
    display: block;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
}

.auth-footerText {
    position: absolute;
    bottom: 8vh;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    color: #1F2233;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    /*border: 2px solid #d31515;*/
}

@media screen and (min-width: 768px){
    .auth-signupButton {
        height: 9vh;
        width: 23vw;
    }

    .auth-signinButton{
        height: 9vh;
        width: 23vw;
    }

    .auth-span{
        font-size: 1.7rem;
    }

    .auth-title{
        font-size: 5rem;
    }

    .auth-footerText{
        bottom: 10vh;
        width: 65vw;
    }

}