body {
    background-color: #475284;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: fixed;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    justify-content: center;
    color: #1F2233;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    border-color: #FFF;
}

.signupButton {
    display: flex;
    width: 49%;
    height: auto;
    padding: 3% 8%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #1F2233;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.signinButton {
    display: flex;
    width: 49%;
    height: auto;
    padding: 3% 8%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #475284;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.alreadyHaveAnAccountLabel {
    width: auto;
    top: 43.5%;
    left: 25.5%;
    position: absolute;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #FFF;
}

.footerText {
    top: 65%;
    /*bottom: 18%;*/
    position: absolute;
    color: #1F2233;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /*border: 2px solid #d31515;*/
}

.mainwrapper {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-style: 2px;
    /*border: 2px solid #000;*/
    /*border: 2px solid #d31515;*/
}


@media (max-width: 600px) {
    .mainwrapper {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mainwrapper {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .mainwrapper {
        width: 80%;
    }
}