.forgot-password-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 40vh;
}

.forgot-password-label {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.forgot-password-input {
    display: block;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.forgot-password-button {
    display: block;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.forgot-password-button-span {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 0.5rem;
}

.forgot-password-header {
    position: absolute;
    margin: 0;
    top: 20vh;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.forgot-password-top-bar {
    background-color: #363D63;
    position: absolute;
    height: 3rem;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.forgot-password-back {
    position: absolute;
    margin: 0;
    top: 0.75rem;
    left: 0.5rem;
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

@media screen and (min-width: 768px) {
    .forgot-password-form {
        top: 20vh;
    }

    .forgot-password-input {
        display: block;
        width: 100%;
    }

    .forgot-password-back {
        font-size: 24px;
        line-height: 24px;
        top: 1.25rem;    }

    .forgot-password-top-bar {
        top: 0;
        height: 4rem;
    }

    .forgot-password-header {
        top: 10vh;
    }
}