.register-modal {
    background-color: #363D63;
    display: flex;
    position: fixed;   
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50vh;
    width: 80vw;
    height: 90vh;
    overflow: auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #FFF;
}

.register-modal-title {
    position: absolute;
    display: flex;
    top: 4vh;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.register-close {
    position: absolute;
    display: flex;
    top: 0.5rem;
    left: 0.1rem;
    color: #fff;
    font-family: Montserrat;
    font-size: 50px;
    line-height: 20px;
    font-style: normal;
    cursor: pointer;
    margin: 0;
}

.register-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 11vh;
}

.register-label {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.register-input {
    display: block;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.register-button{
    display: block;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.register-button-span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .register-modal{
        width: 25vw;
        height: 95vh;
    }

    .register-form {
        top: 10vh;
    }

    .register-input {
        display: block;
        width: 20vw;
    }

    .register-modal-title{
        top: 4vh;
    }


}