.login-modal {
    background-color: #363D63;
    display: flex;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 44vh;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #FFF;
}

.login-modal-title {
    position: absolute;
    display: flex;
    top: 4vh;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.login-close {
    position: absolute;
    display: flex;
    top: 0.5rem;
    left: 0.1rem;
    color: #fff;
    font-family: Montserrat;
    font-size: 50px;
    line-height: 20px;
    font-style: normal;
    cursor: pointer;
    margin: 0;
}

.login-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 11vh;
}

.login-label {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.login-input {
    display: block;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.login-button{
    display: block;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFF;
    background-color: #363D63;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.login-button-span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .login-modal{
        width: 25vw;
        height: 40vh;
    }

    .login-form {
        top: 10vh;
    }

    .login-input {
        display: block;
        width: 20vw;
    }

    .login-modal-title{
        top: 5vh;
    }


}