.login-modal {
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 55%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /*border: 2px solid #d31515;*/
}

.login-modal-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #363D63;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.login-email-input {
    position: absolute;
    width: 65%;
    height: 12%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid;
    border-color: #363D63;
    background-color: #FFF;
    color: #363D63;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.login-password-input {
    position: absolute;
    width: 65%;
    height: 12%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid;
    border-color: #363D63;
    background-color: #FFF;
    color: #363D63;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.login-modal-content {
    width: 85%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    /*border: 2px solid #d31515;*/
}

.login-signin-btn {
    position: absolute;
    top: 62%;
    height: 12%;
    width: 40%;
    left: 17%;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #363D63;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.login-close {
    position: absolute;
    display: flex;
    margin: 0;
    top: 1%;
    left: 0;
    color: #363D63;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 50px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}